@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "../variables.scss";

.container {
	max-width: $page-width;
	margin-right:auto;
	margin-left:auto;
	display:flex;
	padding-top: 1rem;
	min-height:100vh;
}