<h1>All users ({{usersList.length}})</h1><br>


<table id="user-list-table">
  <tr>
    <th (click)="sort('FIRST_NAME')">Name</th>
    <th (click)="sort('PHONE')">Phone</th>
    <th (click)="sort('EMAIL')">Email</th>
    <th (click)="sort('ADDRESS')">Address</th>
    <th (click)="sort('CITY')">City</th>
  </tr>
  <tr *ngFor="let user of usersList">
    <td>{{user.FIRST_NAME}} {{user.LAST_NAME}}</td>
    <td>{{user.PHONE}}</td>
    <td>{{user.EMAIL}}</td>
    <td>{{user.ADDRESS}}</td>
    <td>{{user.CITY}}</td>
  </tr>
</table>