@import "../../variables.scss";

table {
	border-collapse: collapse;

	tr {

		&:nth-child(even) {
			background-color: lighten($color-primary, 40);
		}
		
		&:nth-child(odd) {
			background-color: lighten($color-primary, 45);			
		}

		th, td {
			text-align: left;
			font-weight: normal;
			padding: 0.3rem;
		}

		&:first-child {
			background-color: $color-primary;
			color: white;
			font-size: 1rem;

			th {
				font-weight: bold;
			}
		}
	}
}