@import url("https://fonts.googleapis.com/css?family=Roboto|Sen&display=swap");

$page-width: 1100px;

// Dark mode
$background-color: rgb(40, 40, 40);
$text-dark: rgb(255, 255, 255);
$text-light: rgb(255, 255, 255);

// Light mode
// $background-color: rgb(240, 240, 240);
// $text-dark: rgb(50, 50, 50);
// $text-light: rgb(255, 255, 255);

$color-primary: rgb(101, 79, 240);
$color-success: rgb(30, 255, 0);

$font-header: "Sen", Arial, Helvetica, sans-serif;
$font-pararaph: "Roboto", sans-serif;

$border-radius: 8px;

$shadow: 5px 5px 22px 0px rgba(0, 0, 0, 0.12);
